body {
    background-color: black;
}
#menu-principal {
    margin-top: 20px;
    margin-bottom: 30pt;
    text-align: center;
    padding: 30px;
    border-bottom: 3px solid rgb(90, 0, 149);
    color: rgb(109, 44, 153);
}
#titulo-principal {
    font: normal 40pt Arial;
    color: rgb(109, 44, 153);
}
#menu-link {
    font: normal 20pt Arial;
    color: rgb(109, 44, 153);
    padding: 20px;
}